theme = "autumn_night"

[editor]
scrolloff = 999
line-number = "relative"
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.indent-guides]
render = true
skip-levels = 1
