CompileFlags:
  Compiler: clang++
  Add:
    - "-std=c++20"
    - "-pedantic"
    - "-Wall"

    - "-D PROJECT_NAME"
    - "-D PROJECT_VERSION_MAJOR"
    - "-D PROJECT_VERSION_MINOR"
    - "-D PROJECT_VERSION_PATCH"

Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  BlockEnd: false
  Designators: false
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24

Hover:
  ShowAKA: true
