CompileFlags:
  Compiler: clang++
  Add:
    - "-std=c++20"
    - "-pedantic"
    - "-Wall"

    - "-include src/CmakeConfig.h.in"

Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  BlockEnd: false
  Designators: false
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24

Hover:
  ShowAKA: true
